.search-container{
	padding: 0 15px;
}

.search-box{
	display: flex;
	position: relative;
	z-index: 1;
	padding: 10px 20px 15px 20px;
	border-radius: 5px 5px 0 0;
	background-color: #cad1d9;
}

.search-results{
	position: relative;
	top: -5px;
	z-index: 2;
	border-radius: 5px;
	padding: 0 20px;
	background-color: #fff;
	box-shadow: 0 2px 6px 0 rgba(29,43,64,.1);
}


.input-group {
	display: flex;
	align-items: stretch;
	flex: 1;

	.form-control{
		flex: 1;
		height: 34px;
		border: 1px solid #ccc;
		border-right: 0;
		border-radius: 4px 0 0 4px;
		background-color: #f0f4f7;
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 6px 12px;
		box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.075);
		font-size: 14px;
		line-height: 1.4;
		color: #555;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		&:focus{
			border-color: #66afe9;
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		}
	}

	.btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 34px;
		background-color: @color-blue;
		border: none;
		cursor: pointer;
		transition: all 0.3s ease;
		border-radius: 0 4px 4px 0;

		&:hover{
			background-color: #3ba4eb;
		}

		&:active{
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}

		&:focus{
			outline: none;
		}

		img{
			height: 20px;
			width: 20px;
		}
	}
}



//search-results
.s-row{
	display: flex;

	.col{
		flex: 1;

		&--name{
			flex: 2;
			flex-shrink: 0;
		}
	}
}

.s-header{
	color: @color-text--grey;
	font-weight: 600;

	.col{
		padding: 20px 15px 20px 0;

		a{
			transition: all 0.3s ease;

			&:hover{
				color: #4b6373;
			}
		}

		&.sorted{
			color: #4b6373;
			font-weight: 700;
		}
	}
}

.s-products{
	.s-row{
		border-top: 1px solid #c5cdd6;
	}

	.col{
		padding: 10px 15px 10px 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&--name{
			font-weight: bold;
			color: @color-blue;

			a{
				transition: all 0.3s ease;

				&:hover{
					color: #3ba4eb;
				}
			}
		}
	}
}
//search-results